@page
@model IndexModel
@{
    ViewData["Title"] = "Дом";
}

<div class="text-center">
    <h1 class="display-4">Привет, мир!</h1>
    <p>Узнать о <a href="https://learn.microsoft.com/aspnet/core">построении Веб приложений с помощью ASP.NET Core</a>.</p>
</div>
