@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Ипользуй эту страницу чтобы подробнее написать политику конфиденциальности сайта.</p>
